.cover{
    padding: 5% 5% 5% 5%;
}
.main{
    display: flex;
    justify-content: space-between;
    
}

.space1{
    font-size: 80px;
    margin-bottom: 0px;
    margin-top: 25px;
    color: #FFF2DE;
}
.visual{
    text-align: start;
}
.visual div div h1{
    font-size: 80px;
    margin-bottom: 0px;
    margin-top: 25px;
    color: #FFF2DE;
}
.visual div{
    width: 55%;
    color: white;
    padding: 0px 0px 15px 0px;
}
.photography{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px 5px 0px;
    color: white;
}
.photoTag{
    width: 76%;
    padding-left: 27%;
    padding-top: 50px;
}

.audioMain{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
    padding: 55px 0px 5px 0px;
}
.conference{
    display: flex;
    justify-content: space-between;
    color: white;
    padding:0px 0px 70px 0px;
}
.confTag{
    width: 76%;
    padding-left: 27%;
    padding-top: 50px;
    font-family: 'Josefin Sans', 'sans-serif';
}
.audioText{
    width: 27%;
}
.coWork{
    color: white;
    width: 26%;
    font-family: 'Josefin Sans', 'sans-serif';
    letter-spacing: 2px;
}
.pFont{
    font-family: 'Josefin Sans', 'sans-serif';
    font-size: 18px;
}
.coWorking{
    color: #FFF2DE;
    padding: 0px 0px 129px 0px;
}
.coWorkH1{
    font-size: 80px;
    margin-bottom: 7px;
}
.space1 div h3{
    font-family: 'Josefin Sans', 'sans-serif';
    letter-spacing: 2px;
}
.photoTag div h3{
    font-family: 'Josefin Sans', 'sans-serif';
    letter-spacing: 2px;
}
.audioText div h3{
    font-family: 'Josefin Sans', 'sans-serif';
    letter-spacing: 2px;
}
.inovators{
    color: white;
    font-family: 'Josefin Sans', 'sans-serif';
    font-size: 37px;
    padding: 100px 69px 100px 69px;
    background-image: url(/spacesassets/innovators.svg);
    background-repeat: no-repeat;
    background-position: 10px 44px;
    background-size: 219px 182px;

}
.inCrea{
    color: #FF6464;
}