.flex{
    display: flex;
    justify-content: center;
}
.flexwrapper{
    max-width: 1440px;
    margin-top: 10%;
}
.flexwraperin{
    display: flex;
    justify-content: space-between;
}
.flexrev{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;  
}
.flexrev div{
    text-align: end;
}
.flexrev div p{
    text-align: end;
}  
.flexrev div:nth-child(3){
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
}