.flex{
    display: flex;
    justify-content: center;
}
.flexwrapper{
    width: 75%;
    max-width: 1440px;
    margin-top: 10%;
}
.flexwraperin{
    display: flex;
    justify-content: space-between;
}