.flex{
    display: flex;
    justify-content: center;
}
.displayflexMain{
    width: 80%;
    max-width: 1280px;
    margin-top: 10%;
}
.displayflex{
    display: flex;
    justify-content: flex-end;
}
.displayflexStart{
    display: flex;
    justify-content: flex-start;
}