.resSpace{
    color: #EAFCFF;
   
    margin: auto;
}

.reserveNav{
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: rgba(167, 237, 230, 0.15);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    max-width: 90%;
    margin: auto;
    border-radius: 20px;
    margin-top: 5%;
    position: sticky;
    padding-right: 3%;
    top: 0;
    left: 0;
    z-index: 999;
}
.cov{
    max-width: 80%;
    margin: auto;
}
.whatSpace{
    font-size: 24px;
    letter-spacing: 2.88px;
    font-weight: 600;
}
.navLeft{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    align-items: center;
}
.navLeftCont{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.navLeftCont h5{
    font-size: 24px;
    column-rule: #fff2de;
}
.navLeftCont p{
    font-size: 25px;
    letter-spacing: -1.2px;
    font-weight: 100;
    margin-left: 5%;
}
.resSpacesh1{
    color: #fff2de;
    font-size: 154px;
}
.respace{
    background-color: rgba(255, 255, 255, .15);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 5% 5% 5% 5%;
    border-radius: 20px;
    color: white;
}
.spaces{
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
.spaces div{
    padding-left: 2%;
}
.texts{
    position: absolute;
    top:50%;
    border-bottom: #FF6464;
    border-bottom-width: 2px;
}
.Image{
    border-radius: 5px;
    backdrop-filter: blur(5px);
    filter: brightness(50%);
}
.Image:hover{
    filter: brightness(40%);
}

.imagediv hr{
    width: 20%;
    border-color: #FF6464;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; 
    margin-left: 0px;
}
.imagediv:hover hr{
    width:100%; 
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.buttonSect{
    display: flex;
    justify-content: center;
    padding-top: 15%;
    padding-bottom: 15%;
}


.payment{
    padding: 0% 5% 0% 5%;
    border: none;
    background-color: #fff;
    border-radius: 50px;
    transition: all .2s ease-in-out;
    letter-spacing: 2.28px;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
}
.payment:hover{
    padding: 0% 5% 0% 5%;
    border: none;
    background-color: #fff;
    font-weight: 600;
    border-radius: 50px;
    letter-spacing: 0px;
    font-size: 19px;
    transition: all .2s ease-in-out;
}