.resSpace{
    color: white;
}

.reserveNav{
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: rgba(255, 255, 255, .15);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 0% 5% 0% 5%;
    border-radius: 20px;
    margin-top: 5%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}
.navLeft{
    display: flex;
    justify-content: space-evenly;
}
.navLeftCont{
    display: flex;
}

.navLeftCont p{
    padding-left: 1px;
    padding-right: 19px;
    margin-top: 20px;
    margin-left: 5px;
}
.respace{
    background-color: rgba(255, 255, 255, .15);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 5% 5% 5% 5%;
    border-radius: 20px;
    color: white;
}
.resspace div p{
    font-size:20px;
}
.spaces{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.texts{
    position: absolute;
    top:50%;
    border-bottom: #FF6464;
    border-bottom-width: 2px;
}
.Image{
    border-radius: 5px;
    backdrop-filter: blur(5px);
    filter: brightness(50%);
}
.Image:hover{
    filter: brightness(40%);
}

.imagediv hr{
    width: 20%;
    border-color: #FF6464;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; 
    margin-left: 0px;
}
.imagediv:hover hr{
    width:100%; 
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.payment{
    padding: 0% 5% 0% 5%;
    border: none;
    background-color: #fff;
    border-radius: 20px;
    transition: all .2s ease-in-out;
    letter-spacing: 2px;
}
.payment:hover{
    padding: 0% 5% 0% 5%;
    border: none;
    background-color: #fff;
    border-radius: 20px;
    letter-spacing: 5px;
    transition: all .2s ease-in-out;
}
.buttonSect{
    display: flex;
    justify-content: center;
    padding-top: 15%;
    padding-bottom: 15%;
}