.inner{
    display: flex;
    justify-content: center;
}
.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
     /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
.footerWrp{
    padding-top: 60px;
    max-width: 1280px;
}
.cont{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.hr{
    width: 80%;
}
.socials{
    display: flex;
    justify-content: space-between;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.partJoin{
    display: flex;
    justify-content: space-between;
}
.inovators{
    color: white;
    font-family: 'Josefin Sans', 'sans-serif';
    font-size: 37px;
    padding: 100px 69px 100px 69px;
    background-image: url(/spacesassets/innovators.svg);
    background-repeat: no-repeat;
    background-position: 10px 44px;
    background-size: 219px 182px;

}
.inCrea{
    color: #FF6464;
}
.socialsCove{
    width:'18%' 
}
.footerH1{
    font-family: 'Josefin Sans';
    font-size: 70px;
    font-weight: 100; 
}
.part {
    padding-right: 35px;
}
@media screen and (min-width:320px) and (max-width:1200px)  {
    .socialsCove{
        width:'100%' 
    }
    .footer{
    display: block;
    text-align: center; 
    }
    .cont{
        width: 100%;
        display: block;
        justify-content: space-around;
        color: white;
    }
    .hr{
        display:none;
    }
    .socials{
        display: flex;
        justify-content: space-evenly;
    }
    .top{
        display: block;
        justify-content: space-around;
        color: white;
    }
    .h3{
        margin-top: 0px;
        text-align: center;
    }
    .h4{
        margin-top: 0px;
    }
    .partJoin{
        display: flex;
        justify-content: space-between;
    }
}
