.footer{
    display: flex;
    justify-content: space-around;
    color: white;
}
.footerWrp{
    padding-top: 60px;
}
.cont{
    width: 77%;
    display: flex;
    justify-content: space-around;
    color: white;
}
.hr{
    width: 70%;
}
.socials{
    display: flex;
    justify-content: space-evenly;
}
.top{
    display: flex;
    justify-content: space-around;
    color: white;
}
.h3{
    margin-top: 0px;
}
.h4{
    margin-top: 0px;
}
.partJoin{
    display: flex;
    justify-content: space-between;
}
.inovators{
    color: white;
    font-family: 'Josefin Sans', 'sans-serif';
    font-size: 37px;
    padding: 100px 69px 100px 69px;
    background-image: url(/spacesassets/innovators.svg);
    background-repeat: no-repeat;
    background-position: 10px 44px;
    background-size: 219px 182px;

}
.inCrea{
    color: #FF6464;
}