.dot{
    animation: pulse 1.5s forwards ease-in-out infinite;
    box-shadow: 10px 10px 10px thistle;
}
@keyframes pulse{
    0%{
        opacity: 0;
    }
    70%{
       opacity: 1;
    }
    100%{
        opacity: 0;
    }
}