.nav{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding: 100px 60px 0px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 12px;
    width: 82%;
    margin: auto;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1999;
}
.navFixed{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding: 60px 60px 0px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 12px;
    position: sticky;
    top: 0;
    left: 0;
}
.navroutes{
    display: flex;
    justify-content: space-evenly;
}
.navroutes div{
    margin-left: 58px;
    cursor: pointer;
}
.partner{
    padding: 4px 35px 4px 35px;
    border-radius: 43px;
    background-color: white;
    color: black;
}
.partner p{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2.2px;
    margin-top: 15px;
}
.notActive{
    color: white;
}
.active{
    color: #FF6464;
}
.navText{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2.4px;
    color: #FFF2DE;
}
@media screen and (min-width:320px) and (max-width:1223px)  {
    .navroutes{
        display: block;
        justify-content: space-evenly;
    }

}