.navCover{
    display: flex;
    justify-content: center;
}
.nav{
    display: flex;
    justify-content: space-between;
    width: 88%;
    max-width: 1440px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 12px;
    margin-top:3%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
}
.mainLogo{
    width: 7%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navFixed{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding: 60px 60px 0px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 12px;
    position: sticky;
    top: 0;
    left: 0;
}
.navroutes{
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items:center;
}
.navroutes div{
    cursor: pointer;
}
.partner{
    padding: 4px 35px 4px 35px;
    border-radius: 43px;
    background-color: white;
    color: black;
}
.partner p{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2.2px;
    margin-top: 15px;
}
.notActive{
    color: white;
}
.active{
    color: #FF6464;
}
.navText{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2.4px;
    color: #FFF2DE;
}
@media screen and (min-width:320px) and (max-width:723px)   {
    .navroutes{
        display: block;
        justify-content: space-evenly;
    }

}