.btnReq{
    border: solid;
    border-width: 1px;
    border-color: #DAE1E1;
    margin-top: 5%;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    background:none;
}
.btnReqp{
    margin: 10px 0px 10px 0px;
    text-align: center;
    margin-left: 18px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.68px;
    color:#eafcff;
}
.btnReq div{
    padding-top: 2%;
}