.serv{
    color: white;
}

.servLft{
    width: 55%;
}
.jocaro{
    padding-top: 60%;
    font-size: 30px;
    color: #FF6464;
}
.servHrinitial{
    border-color: #FF6464;
    transition: all 0.2s ease-in-out;
}
.servHr{
    border-color: #fff;
    transition: all 0.2s ease-in-out;
}
.subText{
    color: #FF6464;
    margin-top: 0px;
    font-size:30px;
    font-weight: 500;
    letter-spacing: -1.4px;
    margin-bottom: 30px;
}
.mainText{
    margin-bottom: 10px;
    font-size: 154px;
    color: #fff2de;
}
.content{
    margin-bottom: 13%;
    font-size:30px;
    letter-spacing: -2.4px;
    line-height: 37px;
    text-align: end;
    margin-bottom: 10px;
}
.contentProcess{
    margin-bottom: 13%;
    font-size:30px;
    letter-spacing: -2.4px;
    line-height: 37px;
    text-align: start;
}
.uiux{
    display: flex;
    justify-content: space-between;
}
.uiux h1{
    font-size: 75px;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.dropSvg{
    padding-top:14%;
}
.reqDiv p{
    font-size: 30px;
    letter-spacing: -2.4px;
}
.servuxArchi h1{
    font-size: 154px;
    color: #fff2de;
   }

.servLftArchi{
    text-align: end;
    width:60%;
}
.reqbtn{
    display: flex;
    justify-content: flex-end;
}
