.cover{
    padding: 5% 5% 5% 5%;
}
.PionneringMain{
    display: flex;
    justify-content: space-between;
    color: white;
    padding:50px 0px 20px 0px;
    font-size: 60px;
}
.creative{
    color: #FF6464;
}
.focussed{
    display: grid;
    grid-template-columns: 50% 50%;
    color: white;       
    padding:50px 0px 20px 0px;
    font-size: 60px;
    /* background-image: url(/homeassets/rocks.png);
    background-repeat: no-repeat;
    background-size: contain; */
}
.fallingBoy{
width: 678px;
opacity: 0.5;
}
.sleepWoman{
    width: 661px;
    opacity: 0.5;
}
.secondImg{
    padding-top: 20%;
}

.mainP{
    font-size: 20px;
    width: 50%;
    margin-bottom: 50px;
}

.seeHow{
    padding: 1px;
        background: white;
        text-align: center;
        border-radius: 40px;
        width: 234px;
        font-size: 18px;
        color: black;
}
.seeHow p{
    margin-top: 5px;
    margin-bottom: 5px;
}


.spaceMain{
    display: flex;
    justify-content: space-between;
    color: white;
    padding:20px 0px 20px 0px;

}
.serveMain{
    display: flex;
    justify-content: space-between;
    color: white;
    padding:20px 0px 20px 0px;
}
.spaceP{
    font-size: 80px;
    color: #FFF2DE;
    margin-bottom: 0px;
}
.youMay{
    color: #FF6464;
    font-size: 30px; 
}
.youMay{
    color: #FF6464;
    font-size: 20px;
    margin-top: 5px;
}
.space{
    font-size: 20px;
}
.mainP{
    font-size: 20px;
    width: 50%;
    margin-bottom: 50px;
}
.mainH1{
    font-size:60px;
}
.services{
    display: flex;
    justify-content: space-between;
}
.servicesP{
    font-size: 80px;
    color: #FFF2DE;
    padding-bottom: 30px;
}
.bkBtn{
    margin-left: 68px;
}

.productsP{
    font-size: 80px;
    color: #FFF2DE;
    padding-bottom: 30px;
}
.products{
    display: flex;
    overflow: scroll;
    scrollbar-width: none;
}
.products div:nth-child(even) {
    margin-top: 15%;
}
.products::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .products {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .btnParent{
      display: flex;
      justify-content: center;
      padding-top: 10%;
  }
  @media screen and (min-width:320px) and (max-width:1223px)  {
    .cover{
        padding: 5% 1% 5% 1%;
        text-align: start;
    }
    .test{
        text-align: -webkit-center;
        /* justify-content: center; */
    }
    .how{
        text-align: -webkit-center;
        /* justify-content: center;       */
    }
    .PionneringMain{
        display: block;
        justify-content: space-between;
        color: white;
        padding:50px 0px 20px 0px;
        font-size: 60px;
    }
    .creative{
        color: #FF6464;
    }
    .focussed{
        display: block;
        color: white;       
        padding:50px 0px 20px 0px;
        font-size: 60px;
        /* background-image: url(/homeassets/rocks.png);
        background-repeat: no-repeat;
        background-size: contain; */
    }
    .fallingBoy{
    width: 100%;
    }
    .sleepWoman{
        width: 100%;
    }
    .secondImg{
        padding-top: 20%;
    }
    
    .mainP{
        font-size: 20px;
        width: 50%;
        margin-bottom: 50px;
    }
    
    .seeHow{
        padding: 1px;
            background: white;
            text-align: center;
            border-radius: 40px;
            width: 234px;
            font-size: 18px;
            color: black;
    }
    .seeHow p{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    
    .spaceMain{
        display: block;
        justify-content: space-between;
        color: white;
        padding:20px 0px 20px 0px;
    
    }
    .spaceP{
        font-size: 80px;
        color: #FFF2DE;
        margin-bottom: 0px;
    }
    .youMay{
        color: #FF6464;
        font-size: 30px; 
    }
    .youMay{
        color: #FF6464;
        font-size: 20px;
        margin-top: 5px;
    }
    .space{
        font-size: 20px;
    }
    .mainP{
        font-size: 20px;
        width: 100%;
        margin-bottom: 50px;
    }
    .mainH1{
        font-size:60px;
    }
    .services{
        display: block;
        justify-content: space-between;
    }
    .servicesP{
        font-size: 80px;
        color: #FFF2DE;
        padding-bottom: 30px;
    }
    .bkBtn{
        margin-left: 68px;
    }
    
    .productsP{
        font-size: 80px;
        color: #FFF2DE;
        padding-bottom: 30px;
    }
    .products{
        display: block;
        overflow: scroll;
        scrollbar-width: none;
    }
    .products div:nth-child(even) {
        margin-top: 15%;
    }
    .products::-webkit-scrollbar {
        display: none;
      }
      
      /* Hide scrollbar for IE, Edge and Firefox */
      .products {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }
      .btnParent{
          display: flex;
          justify-content: center;
          padding-top: 10%;
      }
  .serveMain{
    display: none;
    /* justify-content: space-between;
    color: white;
    padding:20px 0px 20px 0px; */
  }
}