.ourProductsBtn{
    border: solid;
    border-color: white;
    border-width: 1px;
    font-size: 18px;
    cursor: pointer;
    background: none;
}
.buttonP{
    color: #eafcff;
    white-space: nowrap;
    margin-top: 5px;
    margin-bottom: 5px;
}