.seeHow{
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 1%;
    background: white;
    text-align: center;
    border-radius: 40px;
    width: fit-content;
    padding-right: 5%;
    padding-left: 5%;
    font-size: 18px;
    color: black;
}
.seeHow p{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
}
