.seeHow{
    display: flex;
    justify-content: center;
    cursor: pointer;
    background: #DAE1E1;
    text-align: center;
    width: fit-content;
    font-size: 18px;
    color: black;
    cursor: pointer;
}
.seeHow p{
    margin-top:11px;
    margin-bottom: 5px;
    padding-left: 17px;
    font-weight:600;
    font-size: 14px;
    letter-spacing: 2.2px;
}
