.eyesvg{
    transform: translate(20px, 12px);
    transition: all 1s ease-in-out;

}
.show{
    display: block;
    transition: all 1s ease-in-out;
}

.noShow{
    display: none;
    transition: all 1s ease-in-out;
}