.testBtn{
    background-color: white;
    border-radius: 35px;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 18px;
    color: black;
    width: fit-content;
    display: flex;
}
.testBtn p{
    margin-top: 5px;
    margin-bottom: 5px;
}