.testBtn{
    background-color: #DAE1E1;
    border-radius: 35px;
    padding: 2% 8% 2% 8%;
    color: black;
    width: fit-content;
    display: flex;
}
.testBtn p{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
}