html,
body {
  padding: 0;
  margin: 0;
  padding: 0;
  margin: 0;
font-family: 'Playfair Display', serif;
    background-color: #000;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgb(7, 7, 7, 72%), rgb(0, 0, 0, 86%)), url(/spacesassets/SpaceBg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
p{
  font-family: 'Josefin Sans';
}
:root{
  --global-font-family: 'Playfair Display';
  --global-font-familyI: 'Josefin Sans';
  --global-h1-font-size:clamp(5.5rem, -13.3vw + 11.3rem, 3rem);
  --global-h3-font-size:clamp(1.5625rem, 0.2232rem + 6.6964vw, 6.25rem);
  --global-h4-font-size:clamp(2.625rem, -0.4493rem + 7.027vw, 5.875rem);
  /* --global-p-font-size:clamp(2.625rem, -0.4493rem + 7.027vw, 5.875rem);
 */
 --global-text-color:#eafcff;
 --global-button-padding: 16px 50px 16px 50px;
 --global-button-cursor:pointer;
 --global-button-border-radius: 77px;
}
button{
  padding: var(--global-button-padding);
  border-radius: var(--global-button-border-radius);
  cursor: var(--global-button-cursor);
}
h3{
  font-family: var(--global-font-familyI);
  font-size: var(--global-h3-font-size);
  font-weight: 100;
}
h1{
  font-family: var(--global-font-family);
  font-weight: 100;
  font-size: var(--global-h1-font-size);
}
h4{
  font-family: var(--global-font-family);
  letter-spacing: 5px;
}

@media screen and (min-width:320px) and (max-width:1280px)  {
  :root{
    --global-mobile-font-family: 'Playfair Display';
    --global-mobile-font-familyI: 'Josefin Sans';
    --global-mobile-h1-font-size:clamp(5.5rem, -13.3vw + 11.3rem, 3rem);
    --global-mobile-h3-font-size:clamp(1.5625rem, 0.2232rem + 6.6964vw, 6.25rem);
    --global-mobile-h4-font-size:clamp(2.625rem, -0.4493rem + 7.027vw, 5.875rem);
    /* --global-p-font-size:clamp(2.625rem, -0.4493rem + 7.027vw, 5.875rem);
   */
   --global-mobile-text-color:#eafcff;
   --global-mobile-button-padding: 10px 20px 10px 20px;
   --global-mobile-button-cursor:pointer;
   --global-mobile-button-border-radius: 77px;
  }
  button{
      padding: var(--global-mobile-button-padding);
  }
  h1{
    font-family: 'Playfair Display', serif;
    /* font-family: 'Josefin Sans'; */
    font-size: clamp(2.625rem, -0.4493rem + 7.027vw, 5.875rem);
    font-weight: 100;
  }
  h3{
    font-family: 'Josefin Sans';
    font-size: 60px;
    font-weight: 100;
  }
  h4{
    font-family: 'Josefin Sans';
    letter-spacing: 3px;
  }
}